$panelWidth: 250px;
$panelTextColor: #aaa;
$panelLinkColor: #ccc;
$panelLinkHover: #eee;
$panelLine: 2px groove rgba(#666, 0.25);


body {
  margin: 0;
  left: 0;
  position: relative;
  min-height: 100vh;
  transition: left .3s ease-in-out;
  font-family: sans-serif;
  &.menu-open {
    left: -$panelWidth;
    .main-menu {
      right: 0;
    }
  }
}
.menu-toggle {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-bottom: 4px solid #333;
  border-top: 4px solid #333;
  line-height: 0;
  padding: 4px 0;
  width: 26px;
  min-width: 26px;
  text-indent: -999em;
  &:after {
    background: #333;
    content: '';
    display: block;
    height: 5px;
  }
  &.open {
    opacity: 0.5;
  }
}
.main-menu {
  font-family: sans-serif;
  background: #333;
  color: $panelTextColor;
  font-size: 0.875rem;
  position: fixed;
  right: -$panelWidth;
  top: 0;
  bottom: 0;
  width: $panelWidth;
  transition: right .3s ease-in-out;
  .menu-header {
    display: flex;
    margin-bottom: $spacer;
    border-bottom: $panelLine;
    padding-bottom: $spacer;
    h2 {
      font-weight: normal;
      margin: 0;
      flex-grow: 1;
    }
    .menu-close {
      color: $panelLinkColor;
      cursor: pointer;
      transition: color 0.3s ease-in-out;
      font-size: 1.5em;
      &:hover {
        color: $panelLinkHover;
      }
    }
  }
  a {
    color: $panelLinkColor;
    transition: color 0.3s ease-out;
    &:hover {
      color: $panelLinkHover;
    }
  }
  .content {
    padding: $spacer $spacer $spacer $spacer * 2;
  }
  .nav {
    border-bottom: $panelLine;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    text-transform: uppercase;
    h3 {
      letter-spacing: 1px;
      margin-bottom: 1em;
    }
    ul {
      list-style: none;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }
    li {
      padding: 0.25em 0;
    }
  }
  .text {
    line-height: 1.5;
    p {
      margin-bottom: 1.5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .credits {
    line-height: 1.5;
    span {
      display: block;
      margin-bottom: 0.15em;
    }
  }
}
