
// Layout generics.
.layout-page {
  left: 0;
  top: 0;
  width: 100%;
}
.container {
  padding: 0 $spacer;
}
.flex-grow {
  flex-grow: 1;
}

// Main page layout.
.layout-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Page header.
.page-header {
  background: #f0f0f0;
  padding: $spacer * 1.5 0;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo {
    font-size: 2em;
    flex-shrink: 0;
  }
  .slogan {
    flex-grow: 1;
    font-size: $txtSmaller;
    text-align: left;
    margin: 0 1.5em;
    font-style: italic;
  }
}

// Page footer.
.page-footer {
  background: #f0f0f0;
  padding: $spacer * 1.5 0;
  text-align: center;
}
